* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica", Arial, Georgia, sans-serif;
	font-size: 14px;
	max-width: 100%;
	margin: 0;
	color: #585656;
}

h1 {
	font-size: 22px;
	font-family: "Helvetica", Tahoma, Arial, sans-serif;
	color: #585656;
}

h3 {
	font-size: 20px;
	font-family: "Helvetica", Tahoma, Arial, sans-serif;
	color: #585656;
}

img {
    max-width: 100%;
}

a {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: purple;
}

.site-header {
	overflow: auto;
	background-image: url('jumbotron.jpg');
	height: 450px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.name {
	color: white;
	font-size: 26px;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: bold;
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
}

.nav-list {
	padding: 0px;
}

.nav {
	overflow: auto;
	display: block;
	float: right;
}

.nav-bar {
    overflow: auto;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    padding: 5px;
}

.nav-bar a {
	color: white;
	font-size: 16px;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-bar a:hover {
	color: #D2D0D0;
}

.nav li {
	display: inline-block;
	list-style-type: none;
}

.jumbotron .container {
	position: relative;
	display: block ;
	top: 100px;
	text-align: center;
}

.jumbotron h1 {
	color: white;
	font-size: 36px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

.jumbotron p {
	font-size: 20px;
	color: white;
	text-align: center;
}

.jumbotron a {
	color: white;
}

.button {
	width: 160px;
	text-align: center;
	background-color: rgba(148, 147, 147, 0.4);
	border: 2px solid white;
	border-radius: 3px;
	cursor: pointer;
	display: block;
	position: relative;
	margin: auto;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}

.button:hover {
	opacity: 0.7;
	color: white;
}

.about {
	text-align: center;
	padding: 1em;
}

.about h1 {
	text-align: center;
}

.about p {
	font-size: 16px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}

.portfolio {
	text-align: center;
	background-color: #f2f3f5;
	padding: 1em;
}

.portfolio-item {
	overflow: auto;
	padding: 2em;
	background-color: #f2f3f5;
}

.two-columns {
    float: left;
    width: 50%;
}

.item-text {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.image-popup-link:hover {
	opacity: 0.8;
}

.contact {
	text-align: center;
}

form {
	margin: 0 auto;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

label {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 450px;
	text-align: left;
	display: block;
}

input, textarea {
	width: 100%;
	max-width: 450px;
	border: 1px solid #dedede;
	padding: 10px;
	font-size: 0.9em;
	color: #3a3a3a;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}

input:focus, textarea:focus {
	border: 1px solid #97d6eb;
}

.submit-wrapper {
	text-align: right;
	max-width: 450px;
	margin: 0 auto;
}

#submit {
	max-width: 125px;
	max-height: 40px;
	margin-top: 10px;
	cursor: pointer;
}

#submit:hover {
	opacity: 0.7;
}

.footer {
	clear: both;
}

.site-footer {
	text-align: center;
	padding: 10px 10px;
	background-color: #f2f3f5;
}

#icons {
	max-width: 50px;
	max-height: 50px;
	padding: 2px;
}

#icons:hover {
	opacity: 0.7;
}

@media screen and (max-width: 700px) {
	.two-columns {
		width: 100%;
	}
	form {
		padding: 4em;
	}
	input, textarea {
		max-width: 450px;
	}
	.submit-wrapper {
		max-width: 450px;
	}
}

@media screen and (max-width: 500px) {
	.name {
		float: none;
	}
	.nav li {
		display: block;
		padding: 5px;
	}
	.nav {
		float: none;
		display: block;
	}
	.nav-list {
		padding: 5px;
	}
	form {
		padding: 1em;
	}
	input, textarea {
		max-width: 450px;
	}
	.submit-wrapper {
		max-width: 450px;
	}

/* THIS IS NOT WORKING */
	#nav-toggle {
		float: right;
		position: relative;
		width: 40px;
		height: 40px;
		background: white;
		padding: 10px 5px;
		cursor: pointer;
	}

	#nav-toggle span,
	#nav-toggle span:before,
	#nav-toggle span:after {
		display: block;
		position: relative;
		width: 30px;
		height: 4px;
		background: #333;
		margin: 3px 0px;
		border-radius: 4px;
		content: '';
		transition: all 0.25s $ease-in-out;
	}

	#nav-toggle span:before {
		top: -25px;
	}

	#nav-toggle span:after {
		bottom: -25px;
	}

	#nav-toggle.is-open span {
		background-color: rgba(255, 255, 255, 0);
	}

	#nav-toggle.is-open span:before {
		transform: rotateZ(45);
		top: 0px;
	}

	#nav-toggle.is-open span:after {
		transform: rotateZ(-45);
		bottom: 0px;
	}

	#menu {
		background-color: white;
		position: fixed;
		height: 80%;
		width: 100%;
		bottom: -25px;
		transition: bottom 0.25s $ease-in-out;

		&.is-open {
			bottom: 0;
		}
	}
}
	